.box {
    width: 200px;
    padding: 10px;
    border: 2px solid red;
    margin: 20px;
}
.box:hover {
    width: 100px;
    padding: 20px;
    border: 5px solid red;
    margin: 30px;
}

button:active {
    background-color: green;
}
p {
}
