/* Каскадирование */
:root {
--text-color: #000; /* Задаем цвет текста по умолчанию */
--bg-color: #fff; /* Задаем цвет фона по умолчанию */
}

.dark-theme {
    --bg-color: #000;
    --text-color: #fff; /* Переопределяем цвет текста для темной темы */
}


body {
    background-color: var(--bg-color);
    color: var(--text-color); /* Используем цвет текста по умолчанию */
}